body {
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;

}

body:after {

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    background-image: url(https://cdn.mensagenscomamor.com/content/images/m000544399.jpg?v=1) ;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    -webkit-filter: blur(15px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

main {
    display: block;
    justify-content: center;
    padding-top: 100px;
}

.topo {
    position: initial;  
}



